/* ----- Parking Seat Styling ----- */

.seat-vertical {
  height: 100px;
  width: 50px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

.seat-vertical-short {
  height: 90px;
  width: 50px;
  padding: 5px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

.seat-horizontal {
  height: 50px;
  width: 100px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seat-horizontal-wide {
  height: 50px;
  width: 150px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seat-horizontal-oven {
  height: 80px;
  width: 150px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat {
  border: 1px dashed black;
  color: black;
  cursor: pointer;
  z-index: 999;
}

.seat:hover {
  color: black;
}

.seat-blue {
  border: 1.5px solid black;
  background-color: #28a5df;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.seat-blue:hover {
  color: white;
}

.seat-green {
  border: 1.5px solid black;
  background-color: #28dfb1;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.seat-green:hover {
  color: grey;
}

.seat-yellow {
  border: 1.5px solid black;
  background-color: #e8b715;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.seat-yellow:hover {
  color: white;
}

.label-seat-vertical {
  height: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  margin: 0px;
}

.seat-office {
  border: 1.5px solid black;
  background-color: var(--office-color);
}

/* ----- Office ----- */

.gedung-wrap {
  display: flex;
  align-items: center;
  justify-content: end;
}

.gedung {
  width: 800px;
  height: fit-content;
  margin-top: -50px;
  margin-right: -180px;
}

.parkir-wrap {
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
}

.office-wrap {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  row-gap: 5px;
  margin-right: 10px;
}

.ruang-mesin {
  height: 220px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--office-color);
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: white;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

.ruang-foreman {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--office-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 12px;
}
.ruang-sparepart {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--office-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 12px;
}

.security-office {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--office-color);
  word-break: break-all;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.dekat-pos {
  margin-top: -50px;
}

/* ---- Accent ----- */
.garis-vertical {
  width: 2px;
  border-radius: 9px;
  margin: 0px 10px;
  background-color: #165d7d;
}

/* ---- Text Accent ----- */
.text-label-vertical {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  writing-mode: vertical-lr;
}

.text-label-vertical-reverse {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

.text-label-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 10px;
}
